/* Estilos para el indicador de carga de HTMX */
.htmx-request .htmx-indicator {
    opacity: 1;
}

.htmx-indicator {
    opacity: 0;
    transition: opacity 200ms ease-in;
}

/* Ajuste para el botón 'hoy' de FullCalendar para evitar desbordamiento */
.fc .fc-toolbar.fc-header-toolbar {
    flex-wrap: wrap;
}