<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('core.index') }}" hx-get="{{ url_for('core.index') }}" hx-target="#content-wrapper" hx-swap="innerHTML" hx-push-url="true">
            <img src="{{ url_for('static', filename='img/logo_ilisbV2.png') }}" alt="ILISB Logo" height="70" class="d-inline-block align-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('core.index') }}" hx-get="{{ url_for('core.index') }}" hx-target="#content-wrapper" hx-swap="innerHTML" hx-push-url="true">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('cursos.lista_cursos') }}" 
                       hx-get="{{ url_for('cursos.lista_cursos') }}" 
                       hx-target="#content-wrapper" 
                       hx-push-url="true">Cursos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('core.membresia') }}" hx-get="{{ url_for('core.membresia') }}" hx-target="#content-wrapper" hx-swap="innerHTML" hx-push-url="true">Membresía</a>
                </li>
                {% if current_user.is_anonymous %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('core.nosotros') }}" hx-get="{{ url_for('core.nosotros') }}" hx-target="#content-wrapper" hx-swap="innerHTML" hx-push-url="true">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.login') }}" hx-get="{{ url_for('auth.login') }}" hx-target="#content-wrapper" hx-swap="innerHTML" hx-push-url="true">Login</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>